name: Swift

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  tests:
    runs-on: macos-26

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: select xcode
        run: sudo xcode-select -s /Applications/Xcode.app

      - name: list schemes
        run: |
          xcodebuild -list

      - name: run tests with xcodebuild (macos)
        run: |
          xcodebuild \
            -scheme Gymnazo \
            -destination 'platform=macOS,arch=arm64' \
            test
